@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(76, 76, 76);
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 90%;
    height: 1000px;
    /* flex-direction: column; */
    padding: 40px 20px;
    margin: auto;
    align-items: center;
}
.tarjeta{
    width: 100%;
    max-width: 550px;
    transform: rotate(0deg);
    transition: 0.4s all ease;
    background-color: rgb(0, 0, 0);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    cursor: pointer;
    z-index: 2;
    color: aliceblue;
}
.tarjeta.active{
    transform: rotateY(180deg);
}
.tarjeta > div{
    padding: 30px;
    border-radius: 15px;
    min-height: 315px;
    display: flex;
    flex-direction: column;
}